service: p10-api
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 512
  timeout: 30
  environment:
    SECRETS_ID: ${env:SECRETS_ID, ''}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource:
            - arn:aws:secretsmanager:${aws:region}:${aws:accountId}:secret:${env:SECRETS_ID}*

functions:
  api:
    handler: src/lambda.handler
    events:
      - httpApi:
          path: /
          method: ANY
      - httpApi:
          path: /{proxy+}
          method: ANY

httpApi:
  cors:
    allowedOrigins:
      - ${env:AMPLIFY_APP_ORIGIN, ''}
      - http://localhost:5173
    allowedHeaders:
      - Content-Type
      - Authorization
    allowedMethods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
    allowCredentials: true

plugins:
  - serverless-offline

package:
  patterns:
    - src/lambda.js
    - dist/**
    - node_modules/**
    - ../docs/openapi.yaml
    - '!**/*.test.*'
    - '!**/*.spec.*'
